<h2>Doktor Girişi</h2>
<form action="/auth/doctor-login" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Şifre" required>
    <button type="submit">Giriş Yap</button>
</form>
<a href="/"><button>Geri dön</button></a>