<a href="/register/doctor"><button>Doktor Kayıt</button></a>
<a href="/login/doctor"><button>Doktor Girişi</button></a>

<a href="/register/user"><button>Hasta Kayıt</button></a>
<a href="/login/user"><button>Hasta Girişi</button></a>